 .swiper-slide img{
  width: 100%; 
  max-width: 85%;
  display: block;
  margin: auto;
  border-radius: 5px;
}

.swiper-button-next{
  right: 55px;
}

.swiper-button-prev{
  left: 55px;
}
.swiper {
  width: 600px;
  height: 300px;
}

 



