{% extends 'base.html' %}
{% block content %}
    <main class="main main--about">
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore cupiditate voluptatem aliquid veniam suscipit, delectus explicabo quisquam nobis porro dignissimos reiciendis. Repellat debitis, veniam est consequuntur eos, architecto porro hic qui pariatur vero assumenda placeat velit beatae blanditiis facere.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore cupiditate voluptatem aliquid veniam suscipit, delectus explicabo quisquam nobis porro dignissimos reiciendis. Repellat debitis, veniam est consequuntur eos, architecto porro hic qui pariatur vero assumenda placeat velit beatae blanditiis facere.
        </p>
        <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Architecto inventore cupiditate voluptatem aliquid veniam suscipit, delectus explicabo quisquam nobis porro dignissimos reiciendis. Repellat debitis, veniam est consequuntur eos, architecto porro hic qui pariatur vero assumenda placeat velit beatae blanditiis facere.
        </p>
    </main>
{% endblock %}
