{% extends 'base.html' %}
{% block content %}
<main class="main main--contact">
    <a href="mailto:itsabdullah.cg@gmail.com" target="_blank"
        class="contact-link email-link">
        <i class="fa-sharp fa-solid fa-envelope"></i></a>

    <a href="https://github.com/itsabdullah15" target="_blank"
        class="contact-link github-link">
        <i class="fa-brands fa-github"></i></a>

    <a href="https://linkedin.com/in/abdullah1shahid" target="_blank"
        class="contact-link linkedin-link">
        <i class="fa-brands fa-linkedin-in"></i></a>

    <a href="https://twitter.com/abdullah1shahid" target="_blank"
        class="contact-link twitter-link">
        <i class="fa-brands fa-square-x-twitter"></i></a>

    <a href="https://instagram.com/abdullxh.eth" target="_blank"
        class="contact-link instagram-link">
        <i class="fa-brands fa-instagram"></i></a>
</main>

{% endblock %}
